<template>
    <div class="current_path">
        <a href="/">/&nbsp;</a>
        <a v-if="in_project" :href="url">{{user_name}}&nbsp;/&nbsp;{{project_name}}</a>
    </div>
</template>

<script>
export default {
  name: 'CPath',
  props: {
    current_project: String,
    project_name: String,
    user_name: String
  },
  data() {
      return {
          in_project: this.current_project != null,
          url: "/project/?project=" + this.current_project
      }
  }
}
</script>
