<template>
    <div class="file">
        <a :href="file_link">{{name}}</a>+
        <iframe frameborder=0 width="80%" height="800" :src="viewer">Your browser doesn't support iframe</iframe>
    </div>
</template>

<script>
import Container from '@/editor/Container.vue'

export default {
    name: 'File',
    props: {
        name : String,
        fileid : Number,
        file_link: String,
    },
    components: {
        Container,
    },
    data() {
        var link = "/embed/?model=" + this.fileid + "&height=750px&width=100%25"
        return {
            viewer : link
        }
    }
}
</script>
