<template>
<div>
    <div class="hello_username" v-if="authed">
        <div class="hello">Hello, {{ username }}</div>
        <input class="button" type="button" value="Logout" v-on:click="logout"/>
    </div>
    <div class="hello_username" v-else>
        <div>
            <input v-model="user" type="text" placeholder="username"/>
            <input v-model="pass" type="password" placeholder="password"/>
            <input class="button" type="button" value="Login" v-on:click="login"/>
        </div>
        <div>
            <input v-model="new_user_name" type="text" placeholder="Username"/>
            <input v-model="new_user_email" type="text" placeholder="e-mail"/>
            <input v-model="new_user_pass1" type="password" placeholder="Password"/>
            <input v-model="new_user_pass2" type="password" placeholder="Repeat password"/>
            <input class="button" type="button" value="Register" v-on:click="register"/>
        </div>
        <div>
	    Login with Facebook
            <facebook-login
                class="button"
                appId="632260073878047"
                @sdk-loaded="fb_sdkLoaded"
                @login="fb_login"
                @logout="fb_logout">
            </facebook-login>
        </div>
    </div>
    
</div>
</template>

<script>
import {logined, logouted} from '@/state.js'
import axios from 'axios'
import {getCookie} from '@/lib/cookies.js'
import facebookLogin from 'facebook-login-vuejs'

export default {
    name: 'Login',
    methods:{
        fb_sdkLoaded(payload) {
	    console.log("SDK loaded")
            this.fb_isConnected = payload.isConnected
            this.fb = payload.FB
            if (this.fb_isConnected)
            {
                this.fb_getUserData()
		this.fb_getLoginStatus()
            }
        },
        fb_getUserData() {
	    console.log("Get user data")
            this.fb.api('/me', 'GET', { fields: 'id,name,email' },
                userInformation => {
                    this.fb_personalID = userInformation.id;
                    this.fb_email = userInformation.email;
                    this.fb_name = userInformation.name;
		    console.log("Hello, " + this.fb_name)
                }
            )
        },
	fb_getLoginStatus() {
	    console.log("Get login status")
	    this.fb.getLoginStatus(response => {
		this.fb_isConnected = (response.status == "connected")
		if (this.fb_isConnected)
		{
			this.fb_accessToken = response.authResponse.accessToken;
			console.log("Token = " + this.fb_accessToken)
			this.fb_backend_login(this.fb_accessToken)
		}
	    })
	},
        fb_login: function(event)
        {
            this.fb_getUserData()
	    this.fb_getLoginStatus()
        },
        fb_backend_login : function(access_token)
        {  
            var config = { headers: {'Content-Type': 'multipart/form-data' }}
            var bodyFormData = new FormData()
            var csrftoken = getCookie('csrftoken');
            
            bodyFormData.set('csrfmiddlewaretoken', csrftoken)
            bodyFormData.set('access_token', access_token)
            axios.post("/api/rest-auth/facebook/", bodyFormData, config)
                .then(response => {
                    console.log("FB Logined")
                    logined(this.fb_name, response.data.key)
                    this.authed = Boolean(localStorage.auth)
                    this.auth_type = 'facebook'
                    this.username = localStorage.username
                    this.key = localStorage.auth_key
            	    this.$emit("on_auth", true)
                })
                .catch(error => {
                    console.log("FB Login error, " + error)
                })
        },
        fb_logout: function(event)
        {
            logouted()
            this.fb_isConnected = false
            this.auth_type = null
            this.$emit("on_auth", false)
        },

        // Username login
        login: function(event)
        {
            var config = { headers: {'Content-Type': 'multipart/form-data' }}
            var bodyFormData = new FormData()
            var csrftoken = getCookie('csrftoken');
            bodyFormData.set('csrfmiddlewaretoken', csrftoken)
            bodyFormData.set('username', this.user)
            bodyFormData.set('password', this.pass)
            axios.post("/api/rest-auth/login/", bodyFormData, config)
                .then(response => {
                    logined(this.user, response.data.key)
                    this.authed = Boolean(localStorage.auth)
                    this.username = localStorage.username
                    this.key = localStorage.auth_key

                    this.$emit("on_auth", true)
                }).catch(error => {
                    console.log("Can not login")
                    var msg = "Problem with login:\n"
                    var data = error.response.data
                    if (data.username)
                    {
                        msg += "\tusername: " + data.username[0] + "\n"
                    }
                    if (data.password)
                    {
                        msg += "\tpassword: " + data.password[0] + "\n"
                    }
                    if (data.non_field_errors)
                    {
                        msg += data.non_field_errors + "\n"
                    }
                    console.log(msg)
                    alert(msg)
                })
        },
        logout: function(event)
        {
            axios.post("/api/rest-auth/logout/", this.key)
                .then(response => {
                    logouted()
                    if (this.auth_type == 'facebook')
		    {
            		this.fb_isConnected = false
			this.fb.logout()
		    }
                    this.authed = (localStorage.auth == "true")
                    this.username = localStorage.username
                    this.key = localStorage.auth_key
                    this.auth_type = null
                    this.$emit("on_auth", false)
                }).catch(error => {
                    console.log("Can not logout")
                })
        },
        register: function(event)
        {
            var config = { headers: {'Content-Type': 'multipart/form-data' }}
            var bodyFormData = new FormData()
            var csrftoken = getCookie('csrftoken');
            bodyFormData.set('csrfmiddlewaretoken', csrftoken)
            bodyFormData.set('username', this.new_user_name)
            bodyFormData.set('email', this.new_user_email)
            bodyFormData.set('password1', this.new_user_pass1)
            bodyFormData.set('password2', this.new_user_pass2)
            axios.post("/api/rest-auth/registration/", bodyFormData, config)
                .then(response => {
                    logined(this.new_user_name, response.data.key)
                    this.authed = (localStorage.auth == "true")
                    this.username = localStorage.username
                    this.key = localStorage.auth_key
                    this.auth_type = 'username'
                    this.$emit("logined")
                    
                }).catch(error => {
                    console.log("Can not register")
                    var msg = "Problem with registration:\n"
                    var data = error.response.data
                    if (data.username)
                    {
                        msg += "\tusername: " + data.username[0] + "\n"
                    }
                    if (data.password1)
                    {
                        msg += "\tpassword: " + data.password1[0] + "\n"
                    }
                    if (data.email)
                    {
                        msg += "\temail: " + data.email[0] + "\n"
                    }
                    console.log(msg)
                    alert(msg)
                })
        }
    },
    data() {
        return {
            new_user_name: null,
            new_user_email: null,
            new_user_pass1: null,
            new_user_pass2: null,
            username: localStorage.username,
            user: '',
            pass: '',
            key: localStorage.auth_key,
            authed: (localStorage.auth == "true"),

	    auth_type : null,

            fb: undefined,
            fb_accessToken : '',
            fb_isConnected: false,
            fb_name: '',
            fb_email: '',
            fb_personalID: '',
        }
    },
    components: {
        facebookLogin
    }
}
</script>
