<template>
    <form class="frame">
        <input type="text" v-model="fname" placeholder="Name"/>
        <input type="file" @change="processFile($event)" placeholder="Select file"/>
        <input type="button" value="Add" v-on:click="add_file"/>
        <!--<input type="button" value="Cancel" v-on:click="cancel"/>-->
    </form>
</template>

<script>
import axios from 'axios'
import {getCookie} from '@/lib/cookies.js'

export default {
    props: {
        project : String
    },
    methods:{
        processFile: function(event)
        {
            this.newfile = event.target.files[0]
        },
        add_file: function(event)
        {
            var config = { headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': 'Token ' + localStorage.auth_key
            }}
          
            var csrftoken = getCookie('csrftoken');
        
            var bodyFormData = new FormData()
            bodyFormData.set('csrfmiddlewaretoken', csrftoken)
            bodyFormData.set('body', this.newfile)
            bodyFormData.set('name', this.fname)
            bodyFormData.set('project_name', this.project)
            axios.post("/api/v1/catmodels/", bodyFormData, config)
                .then(response => {
                    this.$emit("file_created")
                })
        },
        /*cancel: function(event)
        {

        }*/
    },
    data() {
        return {
            fname: ''
        }
    }
}
</script>
