<template>
    <form class="frame">
        <input v-model="pname" type="text" placeholder="Project name"/>
        <input type="button" value="Add" v-on:click="add_project"/>
        <input type="button" value="Cancel" v-on:click="cancel"/>
    </form>
</template>

<script>
import axios from 'axios'
import {getCookie} from '@/lib/cookies.js'

export default {
    methods:{
    add_project: function(event)
    {
        var config = { headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'Token ' + localStorage.auth_key
        }}
        var csrftoken = getCookie('csrftoken');
        
        var bodyFormData = new FormData()
        bodyFormData.set('csrfmiddlewaretoken', csrftoken)
        bodyFormData.set('name', this.pname)
        axios.post("/api/v1/catprojects/", bodyFormData, config)
            .then(response => {
                this.$emit("project_created")
            })
    },
    cancel: function(event)
    {

    }
  },
  data() {
      return {
        pname: ''
      }
  }
}
</script>
