<template>
    <div class="project">
        <div v-if="write_access">
            <!--<input type="button" value="Add file" v-on:click="add_file_click"/>-->
            <NewFile :project="project"  v-on:file_created="on_update"/>
        </div>
        <div v-for="item in items" :key="item.id">
            <File :name="item.name" :fileid="item.id"  :file_link="item.body" :viewmodel="item.viewmodel"/>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import File from '@/components/File.vue'
import NewFile from '@/components/NewFile.vue'
import axios from 'axios'

function fill_items(el, response)
{
    var recs = response.data
    var items = new Array()
    recs.forEach(element => {
        if (element.project_name == el.project)
        {
            var body = element.body
            var vm = element.viewmodel

            if (body != null)
            {
                if (vm == null)
                    vm = {}

                var path = body.split("/")
                var len = path.length;
                var link = "/static/"+path[len-2]+"/"+path[len-1]
                
                items.push({id: element.id, name:element.name, body:link, viewmodel: vm})
            }
        }
    });
    return items
}

function check_can_add(instance, user, project)
{
    axios.get('/api/v1/catprojects/' + project +'/?format=json')
      .then(response => {
          instance.write_access = instance.logined && (response.data.creator == user)
    });
}

export default {
  name: 'project',
  props: {
      project : String,
      logined : Boolean,
      user_name : String
  },
  data() {
    return {
        items: null,
        write_access: false
    }
  },
  mounted() {
    axios.get('/api/v1/catmodels?format=json')
      .then(response => {
          this.items = fill_items(this, response)
      });
    check_can_add(this, this.user_name, this.project)
  },
  components: {
        File,
        NewFile,
  },
  methods:{
        /*// show 'add file' dialog
        add_file_click: function(event)
        {
            
        },*/
        on_update: function(event)
        {
            axios.get('/api/v1/catmodels?format=json')
                .then(response => {this.items = fill_items(this, response)});
            check_can_add(this, this.user_name, this.project)
        }
  }
}
</script>
