<template>
  <div class="root">
    <div v-for="item in items" :key="item.id">
        <UserProject :username="item.creator" :projectname="item.name" :prid="item.id"/>
    </div>
    <div id="operations" v-if="logined">
        <!--<input type="button" value="New project" v-on:click="new_project"/>-->
        <NewProject v-on:project_created="on_update"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import UserProject from '@/components/UserProject.vue'
import NewProject from '@/components/NewProject.vue'
import axios from 'axios'
import {save_projects} from '@/state.js'

export default {
  name: 'root',
  props:{
      logined: Boolean
  },
  data() {
    return {items: null}
  },
  mounted() {
    axios.get('/api/v1/catprojects?format=json')
      .then(response => {
          this.items = response.data
          save_projects(this.items)
        });
  },
  components: {
    UserProject,
    NewProject
  },
  methods:{
    /*new_project: function(event)
    {
        
    },*/
    on_update: function(event)
    {
        axios.get('/api/v1/catprojects?format=json')
            .then(response => {
                this.items = response.data
                save_projects(this.items)
            });
    }
  }
}
</script>
