<template>
    <div class="user_project">
        <a :href="url">{{username}} / {{projectname}}</a>
    </div>
</template>

<script>
export default {
  name: 'UserProject',
  props: {
    username: String,
    projectname: String,
    user : Number,
    prid : Number
  },
  data()
  {
      return {
          url: "/project/?project=" + this.prid
      }
  }
}
</script>
