<template>
    <div class="edge">
        <svg :width="ew" :height="eh">
            <!--<line :x1="x1+'px'" :y1="y1+'px'" :x2="x2+'px'" :y2="y2+'px'" :style="estyle"/>-->
            <path :d="path" :style="estyle"/>
            <path :d="endpath" :style="epstyle"/>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'arrow',
    props: {
        id: String,
        content: String,
        color: String,
        width: String,
        x1: Number,
        y1: Number,
        x2: Number,
        y2: Number,
        ew: Number,
        eh: Number,
        end_angle: Number,
    },
    computed:
    {
        estyle : function()
        {
            return {
                'stroke': "#" + this.color.substring(2),
                'stroke-width': this.width,
                'fill': 'transparent',
            }
        },
        epstyle : function()
        {
            return {
                'fill': "#" + this.color.substring(2),
            }
        },
        path : function()
        {
            var p1x = null
            var p1y = null
            var p2x = null
            var p2y = null
            //console.log("angle", this.end_angle)
            var mins = 70
            var mind = 20
            if (this.end_angle == 0)
            {
                var off = 0
                if (this.x2 - this.x1 < mins)
                    off = mins - (this.x2 - this.x1)
                var k = Math.min(Math.abs(this.y2 - this.y1) / mind, 1)
                p1x = (this.x1 + this.x2)/2 + off * k
                p1y = this.y1
                p2x = (this.x1 + this.x2)/2 - off * k
                p2y = this.y2
            }
            else if (this.end_angle == 180)
            {
                var off = 0
                if (this.x1 - this.x2 < mins)
                    off = mins - (this.x1 - this.x2)
                var k = Math.min(Math.abs(this.y2 - this.y1) / mind, 1)
                p1x = (this.x1 + this.x2)/2 - off * k
                p1y = this.y1
                p2x = (this.x1 + this.x2)/2 + off * k
                p2y = this.y2
            }
            else if (this.end_angle == -90)
            {
                var off = 0
                if (this.y2 - this.y1 < mins)
                    off = mins - (this.y2 - this.y1)
                var k = Math.min(Math.abs(this.x2 - this.x1) / mind, 1)
                p1x = this.x1
                p1y = (this.y1 + this.y2)/2 + off * k
                p2x = this.x2
                p2y = (this.y1 + this.y2)/2 - off * k
            }
            else if (this.end_angle == 90)
            {
                var off = 0
                if (this.y1 - this.y2 < mins)
                    off = mins - (this.y1 - this.y2)
                var k = Math.min(Math.abs(this.x2 - this.x1) / mind, 1)
                p1x = this.x1
                p1y = (this.y1 + this.y2)/2 - off * k
                p2x = this.x2
                p2y = (this.y1 + this.y2)/2 + off * k
            }

            var p = "M" + this.x1 + " " + this.y1 +
                    " C" + p1x + " " + p1y + ", " +
                          p2x + " " + p2y + ", " +
                          this.x2 + " " + this.y2
            return p
        },
        endpath : function()
        {
            if (this.end_angle == -90)
            {
                return "M" + this.x2 + " " + this.y2 +
                       " L" + (this.x2 - 5) + " " + (this.y2 - 10) +
                       " L" + (this.x2 + 5) + " " + (this.y2 - 10) +
                       " L" + this.x2 + " " + this.y2
            }
            else if (this.end_angle == 0)
            {
                return "M" + this.x2 + " " + this.y2 +
                       " L" + (this.x2 - 10) + " " + (this.y2 - 5) +
                       " L" + (this.x2 - 10) + " " + (this.y2 + 5) +
                       " L" + this.x2 + " " + this.y2
            }
            else if (this.end_angle == 90)
            {
                return "M" + this.x2 + " " + this.y2 +
                       " L" + (this.x2 - 5) + " " + (this.y2 + 10) +
                       " L" + (this.x2 + 5) + " " + (this.y2 + 10) +
                       " L" + this.x2 + " " + this.y2
            }
            else if (this.end_angle == 180)
            {
                return "M" + this.x2 + " " + this.y2 +
                       " L" + (this.x2 + 10) + " " + (this.y2 - 5) +
                       " L" + (this.x2 + 10) + " " + (this.y2 + 5) +
                       " L" + this.x2 + " " + this.y2
            }
        }
    }
}
</script>

<style scoped>
    .edge {
        position: absolute;
    }
</style>
