<template>
    <div v-if="visible" class="container" v-bind:style="pos">
        <div class="name" v-bind:style="namestyle"><nobr>{{name}}</nobr></div>
        <div class="model" v-bind:style="style"></div>
    </div>
</template>

<script>
export default {
    props: {
        id: String,
        name: String,
        color: String,
        x: Number,
        y: Number,
        w: Number,
        h: Number,
        visible : Boolean,
    },
    data() {
        return {
        }
    },
    computed:
    {
        style : function()
        {
            var margin = 25
            return {
                'border-color': "#" + this.color.substring(2),
                'width' : (this.w + 2*margin) + 'px',
                'height' : (this.h + 2*margin) + 'px',
            }
        },
        namestyle : function(){
            return {
                'border-color': "#" + this.color.substring(2),
            }
        },
        pos : function()
        {
            var margin = 25
            return {
                'left': (this.x - margin) + 'px',
                'top': (this.y - margin) + 'px',
            }
        }
    }
}
</script>

<style>
    .container {
        position: absolute;
        background-color: transparent;
        list-style-type: none;
        padding: 0;
    }
    .name {
        border-style: solid;
        border-radius: 0.5mm;
        border-width: 0.2mm;
        background-color: white;
        padding: 1mm;
        display: inline-block;
        position: absolute;
        left: 10px;
        top: -28px;
    }
    .model {
        position: absolute;
        left: 0;
        top: 0;
        border-style: solid;
        border-radius: 3mm;
        border-width: 0.2mm;
        background-color: transparent;
    }
</style>
