<template>
    <div>
        <div @mousedown="press" @mousemove="move" @mouseup="up" @wheel="wheel">
            <Editor :key="vm" :viewmodel="viewmodel" :width="width" :height="height" :shiftx="sx" :shifty="sy" :scale="scale"/>
        </div>
        <button class="plus" v-on:click="inc">+</button>
        <button class="minus" v-on:click="dec">-</button>
    </div>
</template>

<script>
import Editor from '@/editor/Editor.vue'

export default {
    components: {
        Editor,
    },
    props: {
        viewmodel : Object,
        width : String,
        height : String,
    },
    data() {
        return {
            x : 5000,
            y : 5000,
            scale : 1,
            movex : 0,
            movey : 0,
            px : 0,
            py : 0,
            pressed : false,
        }
    },
    computed : {
        sx : function()
        {
            return this.x - this.movex
        },
        sy : function()
        {
            return this.y - this.movey
        },
        vm : function()
        {
            var key = this.sx + ":" + this.sy + ":" + this.scale
            return key
        },
    },
    methods: {
        inc : function(event)
        {
            this.scale *= 1.1
            event.returnvalue = false
        },
        dec : function(event)
        {
            this.scale /= 1.1
            event.returnvalue = false
        },
        wheel : function(event)
        {
            if (this.pressed)
            {
                this.scale *= Math.exp(-event.deltaY/300)
                event.returnvalue = false
            }
        },
        press : function(event)
        {
            this.px = event.screenX
            this.py = event.screenY
            this.movex = 0
            this.movey = 0
            this.pressed = true
        },
        up : function(event)
        {
            this.x -= this.movex
            this.y -= this.movey
            this.pressed = false
            this.movex = 0
            this.movey = 0
            console.log(this.x, this.y)
        },
        move : function(event)
        {
            if (this.pressed)
            {
                this.movex = event.screenX - this.px
                this.movey = event.screenY - this.py
            }
        }
    }
}
</script>

<style scoped>
    .plus {
        position: absolute;
        left: 5mm;
        top: 5mm;
        width: 12mm;
        height: 10mm;
        outline: none;
    }
    .minus {
        position: absolute;
        left: 5mm;
        top: 15mm;
        width: 12mm;
        height: 10mm;
        outline: none;
    }
</style>