<template>
    <div class="node" ref="product" v-on: v-bind:style="style">
        <ul class="clist">
            <li v-for="item in contents" :key="item.id" class="element" v-bind:style="estyle" >&nbsp;{{item.content}}&nbsp;</li>
        </ul>
        <svg class="brackets" :width="width" :height="height">
            <line x1="0" y1="0" x2="15" y2="0" :style="brstyle"/>
            <line x1="0" :y1="height-1" x2="15" :y2="height-1" :style="brstyle"/>
            <line x1="0" y1="0" x2="0" :y2="height" :style="brstyle"/>
            <line :x1="width-1" y1="0" :x2="width-1" :y2="height" :style="brstyle"/>
            <line :x1="width-1" y1="0" :x2="width-16" y2="0" :style="brstyle"/>
            <line :x1="width-1" :y1="height-1" :x2="width-16" :y2="height-1" :style="brstyle"/>
            <line :x1="16" :x2="width-17" y1="1" y2="1" class="bline"/>
            <line :x1="16" :x2="width-17" :y1="height-2" :y2="height-2" class="bline"/>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'coproductobject',
    props: {
        id: String,
        contents: Array,
        color: String,
        x: Number,
        y: Number,
    },
    data() {
        return {
            width: 0,
            height: 0,
        }
    },
    mounted(event) {
        this.width = this.$el.clientWidth
        this.height = this.$el.clientHeight
        var childs = []
        var children = this.$el.childNodes[0].childNodes
        for (var index = 0; index < children.length; index += 1)
        {
            var child = children[index]
            var id = this.contents[index].id
            var left = child.offsetLeft
            var top = child.offsetTop
            var w = child.offsetWidth
            var h = child.offsetHeight
            childs.push({id: id, x: this.x - this.width/2 + left + w/2, y:this.y - this.height/2 + top + h/2, w:w, h:h})
        }
        this.$emit('mounted', this.id, this.x, this.y, this.width, this.height, childs)
    },
    computed:
    {
        style : function(){
            return {
                'left': (this.x - this.width/2) + "px",
                'top': (this.y - this.height/2) + "px",
            }
        },
        estyle : function(){
            return {
                'border-color': "#" + this.color.substring(2),
            }
        },
        brstyle : function() {
            return {
                'stroke': "#" + this.color.substring(2),
                'stroke-width': 3,
            }
        }
    },
}
</script>

<style scoped>
    .node {
        display: inline-block;
        position: absolute;
        padding: 1mm;
    }
    .clist {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        display: block;
        margin: 0;
    }
    .element {
        border-style: solid;
        border-width: 0.2mm;
        padding: 2mm;
        margin: 1mm;
        float: left;
    }
    .brackets {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .bline {
        stroke: lightgray;
        stroke-width: 1;
    }
</style>
