<template>
    <div class="editor" v-bind:style="style">
        <div class="canvas" v-bind:style="cstyle">
            <Category v-for="cat in models" :key="cat.id"
                        :id="cat.id"  :name="cat.name" :color="cat.color"
                        :x="cat.x" :y="cat.y" :w="cat.w" :h="cat.h" :visible="cat.visible"/>
            <SingleObject v-for="node in singles" :key="node.id"
                        :id="node.id" :content="node.content" :color="node.color"
                        :x="node.x" :y="node.y" v-on:mounted="sized"/>
            <ProductObject v-for="node in products" :key="node.id"
                        :id="node.id" :contents="node.components" :color="node.color"
                        :x="node.x" :y="node.y" v-on:mounted="tmounted"/>
            <CoProductObject v-for="node in coproducts" :key="node.id"
                    :id="node.id" :contents="node.components" :color="node.color"
                    :x="node.x" :y="node.y" v-on:mounted="tmounted"/>
            <Arrow v-for="m in morphisms" :key="m.id" :id="m.id"
                    :x1="m.x1" :y1="m.y1" :x2="m.x2" :y2="m.y2" :end_angle="m.end_angle"
                    width="1.5" color="00606060" :ew="ew" :eh="eh"/>
            <Arrow v-for="l in links" :key="l.id"
                    :x1="l.x1" :y1="l.y1" :x2="l.x2" :y2="l.y2" :end_angle="l.end_angle"
                    width="1" color="00909090" :ew="ew" :eh="eh"/>
        </div>
    </div>
</template>

<script>
import SingleObject from '@/editor/SingleObject.vue'
import ProductObject from '@/editor/ProductObject.vue'
import CoProductObject from '@/editor/CoProductObject.vue'
import Category from '@/editor/Category.vue'
import Arrow from '@/editor/Arrow.vue'

function iterationCopy(src) {
    let target = {};
    for (let prop in src) {
        if (src.hasOwnProperty(prop)) {
            target[prop] = src[prop];
        }
    }
    return target;
}

function shift(self, obj)
{
    var res = iterationCopy(obj)
    res.x = (res.x - self.shiftx)
    res.y = (res.y - self.shifty)
    return res
}

function fill_objects(self)
{
    self.components = {}
    self.singles = []
    for (var i in self.viewmodel.singles)
    {
        var om = shift(self, self.viewmodel.singles[i])
        om.ready = false
        self.objects[om.id] = om
        self.singles.push(om)
        //console.log("Add single")
    }
    for (var i in self.viewmodel.products)
    {
        var om = shift(self, self.viewmodel.products[i])
        self.components[om.id] = []
        for (var ci = 0; ci < om.components.length; ci++)
        {
            var comp = om.components[ci]
            self.objects[comp.id] = comp
            self.components[om.id].push(comp.id)
        }
        om.ready = false
        self.objects[om.id] = om
        self.products.push(om)
        //console.log("Add product")
    }
    for (var i in self.viewmodel.coproducts)
    {
        var om = shift(self, self.viewmodel.coproducts[i])
        self.components[om.id] = []
        for (var ci = 0; ci < om.components.length; ci++)
        {
            var comp = om.components[ci]
            self.objects[comp.id] = comp
            self.components[om.id].push(comp.id)
        }
        om.ready = false
        self.objects[om.id] = om
        self.coproducts.push(om)
        //console.log("Add coproduct")
    }
    for (var i in self.viewmodel.models)
    {
        var model = self.viewmodel.models[i]
        model.x = 0
        model.y = 0
        model.w = 0
        model.h = 0
        model.minx = null
        model.miny = null
        model.maxx = null
        model.maxy = null
        model.visible = false
        self.models.push(shift(self, model))
    }
    //console.log("All objects loaded")
}

function build_arrow_geometry(src, dst)
{
    var w1 = src.w
    var h1 = src.h
    var w2 = dst.w
    var h2 = dst.h
    
    var x1 = src.x
    var y1 = src.y
    var x2 = dst.x
    var y2 = dst.y

    var sx = null
    var sy = null
    var tx = null
    var ty = null
    var ea = null
    if (Math.abs(x1 - x2) > Math.abs(y1 - y2))
    {
        if (x1 < x2)
        {
            sx = x1 + w1/2
            sy = y1
            tx = x2 - w2/2
            ty = y2
            ea = 0
        }
        else
        {
            sx = x1 - w1/2
            sy = y1
            tx = x2 + w2/2
            ty = y2
            ea = 180
        }
    }
    else
    {
        if (y1 < y2)
        {
            sx = x1
            sy = y1 + h1/2
            tx = x2
            ty = y2 - h2/2
            ea = -90
        }
        else
        {
            sx = x1
            sy = y1 - h1/2
            tx = x2
            ty = y2 + h2/2
            ea = 90
        }
    }
    return {
        x1: sx,
        y1: sy,
        x2: tx,
        y2: ty,
        end_angle: ea,
    }
}

function fill_arrows(self, arrows)
{
    var models = []
    for (var id = 0; id < arrows.length; id++)
    {
        var m = arrows[id]
        if (m.identity == true)
        {
            //console.log("identity")
            continue
        }
        var srcid = m.source
        var dstid = m.target
        if (!(srcid in self.objects) || !(dstid in self.objects))
        {
            //console.log("not in dict")
            continue
        }
        if (srcid in self.components && self.components[srcid].includes(dstid))
            continue
        if (dstid in self.components && self.components[dstid].includes(srcid))
            continue
        var src = self.objects[srcid]
        var dst = self.objects[dstid]
        var mv = build_arrow_geometry(src, dst)

        mv.content = m.content
        models.push(mv)
    }
    return models
}

function fill_morphisms(self)
{
    var ms = []
    for (var mid in self.viewmodel.morphisms)
    {
        ms.push(self.viewmodel.morphisms[mid])
    }
    self.morphisms = fill_arrows(self, ms)
}

function fill_references(self)
{
    var ms = []
    for (var mid in self.viewmodel.links)
    {
        ms.push(self.viewmodel.links[mid])
    }
    self.links = fill_arrows(self, ms)
}

function check_objects_ready(self)
{
    for (var id in self.objects)
    {
        if (self.objects[id].ready == false)
            return false;
    }
    fill_morphisms(self)
    fill_references(self)
    return true;
}

function onsize(self, id, x, y, width, height)
{
 //   console.log("onsize", id)
    self.objects[id].w = width
    self.objects[id].h = height
    for (var mid in self.models)
    {
        var m = self.models[mid]
        if (m.objects.includes(id))
        {
            if (m.minx == null || m.minx > x - width/2)
                m.minx = x - width/2;
            if (m.maxx == null || m.maxx < x + width/2)
                m.maxx = x + width/2;
            if (m.miny == null || m.miny > y - height/2)
                m.miny = y - height/2;
            if (m.maxy == null || m.maxy < y + height/2)
                m.maxy = y + height/2;
            m.visible = true
        }
        m.x = m.minx
        m.y = m.miny
        m.w = m.maxx - m.minx
        m.h = m.maxy - m.miny
        m = shift(self, m)
    }
}

function addchildren(self, children)
{
    for (var index = 0; index < children.length; index++)
    {
        var child = children[index]
        self.objects[child.id].x = child.x
        self.objects[child.id].y = child.y
        self.objects[child.id].w = child.w
        self.objects[child.id].h = child.h
        self.objects[child.id].ready = true
    }
}

export default {
    name: 'editor',
    components: {
        SingleObject,
        ProductObject,
        CoProductObject,
        Category,
        Arrow,
    },
    props:{
        viewmodel : Object,
        width : String,
        height : String,
        scale : Number,
        shiftx : Number,
        shifty : Number,
    },
    data() {
        return {
            objects: {},
            models: [],
            singles: [],
            products: [],
            coproducts: [],
            morphisms: [],
            links: [],
            ew : 0,
            eh : 0,
        }
    },
    mounted()
    {
        this.ew = this.$el.clientWidth
        this.eh = this.$el.clientHeight
        fill_objects(this)
    },
    computed:
    {
        style: function()
        {
            return {
                'width' : this.width,
                'height' : this.height,
            }
        },
        cstyle: function()
        {
            return {
                'zoom' : this.scale,
            }
        }
    },
    methods:
    {
        sized: function(id, x, y, width, height)
        {
            onsize(this, id, x, y, width, height)
            this.objects[id].ready = true
            check_objects_ready(this)
        },
        tmounted: function(id, x, y, width, height, childs)
        {
            onsize(this, id, x, y, width, height)
            addchildren(this, childs)
            this.objects[id].ready = true
            check_objects_ready(this)
        }
    },
}
</script>

<style scoped>
    .editor {
        border-style: dashed;
        border-width: 0.2mm;
        border-color: lightgrey;
        text-align: left;
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
</style>
