<template>
    <div class="node" ref="product" v-on: v-bind:style="style">
        <ul class="clist">
            <li v-for="item in contents" :key="item.id" class="element" v-bind:style="estyle" >&nbsp;{{item.content}}&nbsp;</li>
        </ul>
    </div>
</template>

<script>
//import jQuery from 'jquery'

export default {
    name: 'productobject',
    props: {
        id: String,
        contents: Array,
        color: String,
        x: Number,
        y: Number,
    },
    data() {
        return {
            width: 0,
            height: 0,
        }
    },
    mounted(event) {
        this.width = this.$el.clientWidth
        this.height = this.$el.clientHeight
        var childs = []
        var children = this.$el.childNodes[0].childNodes
        for (var index = 0; index < children.length; index += 1)
        {
            var child = children[index]
            var id = this.contents[index].id
            var left = child.offsetLeft
            var top = child.offsetTop
            var w = child.offsetWidth
            var h = child.offsetHeight
            childs.push({id: id, x: this.x - this.width/2 + left + w/2, y:this.y - this.height/2 + top + h/2, w:w, h:h})
        }
        this.$emit('mounted', this.id, this.x, this.y, this.width, this.height, childs)
    },
    computed:
    {
        style : function(){
            return {
                'left': (this.x - this.width/2) + "px",
                'top': (this.y - this.height/2) + "px",
            }
        },
        estyle : function(){
            return {
                'border-color': "#" + this.color.substring(2),
            }
        }
    },
}
</script>

<style scoped>
    .node {
        border-style: solid;
        border-width: 0.2mm;
        display: inline-block;
        position: absolute;
        border-color: lightgray;
        padding: 2mm;
    }
    .clist {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        display: block;
        margin: 0;
    }
    .element {
        border-style: solid;
        border-width: 0.2mm;
        padding: 2mm;
        
        float: left;
    }
</style>
