<template>
    <div class="node" v-bind:style="style">
        <div class="content">&nbsp;{{content_md}}&nbsp;</div>
    </div>
</template>

<script>
export default {
    name: 'singleobject',
    props: {
        id: String,
        content: String,
        color: String,
        x: Number,
        y: Number,
    },
    data()
    {
        return {
            width : 0,
            height : 0,
        }
    },
    mounted(event) {
        this.width = this.$el.clientWidth
        this.height = this.$el.clientHeight
        this.$emit('mounted', this.id, this.x, this.y, this.width, this.height)
    },
    computed:
    {
        content_md : function(){
            if (this.content.length > 0)
                return this.content
            return ''
        },
        style : function(){
            return {
                'left': (this.x - this.width/2) + "px",
                'top':  (this.y - this.height/2) + "px",
                'border-color': "#" + this.color.substring(2),
            }
        }
    },
}
</script>

<style scoped>
    .node {
        border-style: solid;
        border-radius: 3mm;
        border-width: 0.2mm;
        display: inline-block;
        position: absolute;
    }
    .content {
        margin: 2mm;
    }
</style>
