<template>
    <Container :key="viewmodel" :viewmodel="viewmodel" :width="width" :height="height"/>
</template>

<script>
import Container from '@/editor/Container.vue'
import axios from 'axios'

function fill_item(el, response)
{
    var element = response.data
    var vm = element.viewmodel

    if (vm == null)
        return {}
    return vm
}

export default {
    name: 'EmbedModelView',
    components: {
        Container,
    },
    data()
    {
        var model = this.$route.query.model;
        var height = this.$route.query.height;
        var width = this.$route.query.width;
        if (width == null)
            width = "100%"
        if (height == null)
            height = "100%"
        
        return {
            model: model,
            width: width,
            height: height,
            viewmodel: null,
        }
    },
    mounted()
    {
        axios.get('/api/v1/catmodels/' + this.model + '/?format=json').then(response => {
            this.viewmodel = fill_item(this, response)
        });
    },
}
</script>
