<template>
    <div class="view">
        <Company/>
        <Login v-on:on_auth="on_auth"/>
        <CPath :current_project="c_project" :project_name="c_projectname" :user_name="c_projectcreator"/>
        <Project :project="c_project" :logined="logined" :user_name="c_username"/>
    </div>
</template>

<script>
// @ is an alias to /src
import CPath from '@/components/CPath.vue'
import Project from '@/components/Project.vue'
import Login from '@/components/Login.vue'
import Company from '@/components/Company.vue'

import axios from 'axios'

function get_project_by_id(instance, id)
{
    axios.get('/api/v1/catprojects/' + id + '?format=json')
        .then(response => {
            instance.c_projectname = response.data.name
            instance.c_projectcreator = response.data.creator
        });
}

export default {
  name: 'project',
  components: {
    CPath,
    Project,
    Login,
    Company,
  },
  data() {
      var pr = this.$route.query.project;
      console.log("get data")
      get_project_by_id(this, pr)
      return {
          c_username: localStorage.username,
          c_project : pr,
          c_projectname : null,
          c_projectcreator : null,
          logined : (localStorage.auth == "true")
      }
  },
  methods:{
      on_auth: function(event, logined)
      {
          this.logined = (localStorage.auth == "true")
          this.c_username = localStorage.username
      }
  }
}
</script>
