<template>
    <div class="view">
        <Company/>
        <Login v-on:on_auth="on_auth"/>
        <CPath/>
        <Root :logined="logined"/>
    </div>
</template>

<script>
// @ is an alias to /src
import CPath from '@/components/CPath.vue'
import Root from '@/components/Root.vue'
import Login from '@/components/Login.vue'
import Company from '@/components/Company.vue'

import axios from 'axios'

export default {
  name: 'root',
  components: {
    CPath,
    Root,
    Login,
    Company,
  },
  data() {
      var pr = this.$route.query.project;
      return {
          c_project : pr,
          c_projectname : pr,
          logined: (localStorage.auth == "true")
      }
  },
  methods:{
      on_auth: function(event, logined)
      {
          this.logined = (localStorage.auth == "true")
      }
  }
}
</script>
